%div.me-5
	= participant.name
	%div{ id: "participant_#{participant.id}", class: "estimate-card #{set_card_voted(participant.estimate)}" }
		= "#{participant.estimate && (!@room.is_hidden || @user_session_id == participant.user_session_id) ? participant.estimate : '?'}"