.container
	.row 
		.col-6.display-center.flex-column
			.card.w-75
				.card-body
					.form-group
						= form_with url: new_room_path, method: :get do |f|
							.field-box
								= f.text_field :id_room, required: true, maxlength: 12
								= f.label :id_room
							= f.submit 'Enter Room', class: 'btn btn-sm btn-secondary'
			.card.w-75.mt-3
				.card-body
					.form-group
						= form_with url: new_room_path, method: :get do |f|
							.field-box
								= f.text_field :team_name, required: true, maxlength: 12
								= f.label :team_name
							.field-box
								= f.text_field :name, required: true, maxlength: 12
								= f.label :name
							= f.submit 'Create new Room', class: 'btn btn-sm btn-secondary'
		.col-6
			= image_tag 'animation_500_l4ufn0up'