%header
	%nav.navbar
		.box-image
			= link_to root_path do
				= image_tag 'https://i.ibb.co/31BTDKp/logo-pp-3.png'

	.display-end
		= link_to 'About', root_path, class: 'me-2'
		%span.me-2= '|'
		= link_to 'Contact', root_path

	.icons
		%div.mb-2
			= link_to set_url_language('?locale=en'), class: 'flag-language' do
				= image_tag 'https://i.ibb.co/jGZGb3r/eua-flag.png'
		%div
			= link_to set_url_language('?locale=pt-BR'), class: 'flag-language' do
				= image_tag 'https://i.ibb.co/1zpgj6Q/brasil-flag.png'