!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PlanningPokerNew
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = action_cable_meta_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = image_tag('https://i.ibb.co/t45f70g/366.jpg', class: 'wrap_img')
    = render 'layouts/header'
    = yield
