!!!
%html
  %head
    :javascript
      if (typeof(dataLayer) === 'undefined') {
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js', user_id: '#{@current_user&.id}'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-MFJ7RHB');
      }

    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title PlanningPokerNew
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = favicon_link_tag asset_path('favicon.png')
    = action_cable_meta_tag
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %noscript
    %iframe{src: "https://www.googletagmanager.com/ns.html?id=GTM-MFJ7RHB", height: 0, width: 0, style: "display:none;visibility:hidden"}

    = image_tag('https://i.ibb.co/PNvpyGR/bg-planning.jpg', class: 'wrap_img')
    = render 'layouts/header'
    = yield
